<!-- Photo Gallery -->
<div class="gallery">
    {%- assign image_gallery = site.static_files | where: "image", true -%}
    {%- assign gallery_size = image_gallery.size -%}
    {%- assign col_index = gallery_size | divided_by: 4 -%}
    <!-- Column 1 -->
    {%- for img in image_gallery -%}
        {%- assign col_mod = col_index | times: 4 -%}
        {%- assign new_col = forloop.index | modulo: col_mod -%}
        {%- if new_col == 1 -%}<div class="gallery-column">{%- endif -%}
            {%- assign img_mod = forloop.index | modulo: 4 -%}
            {%- if img_mod == 1 -%}
                <a data-fancybox="gallery" data-options='{"buttons":["close"]}' 
                href="{{ site.baseurl }}/assets/images/gallery/image-{{ forloop.index }}.jpg">
                <img src="{{ site.baseurl }}/assets/images/gallery/image-{{ forloop.index }}.jpg" 
                style="width:100%" alt="Gallery Image {{ forloop.index }}"></a>
            {%- endif -%}
        {%- if new_col == 0 -%}</div>{%- endif -%}
    {%- endfor -%}
    <!-- Column 2 -->
    {%- for img in image_gallery -%}
        {%- assign col_mod = col_index | times: 4 -%}
        {%- assign new_col = forloop.index | modulo: col_mod -%}
        {%- if new_col == 2 -%}<div class="gallery-column">{%- endif -%}
            {%- assign img_mod = forloop.index | modulo: 4 -%}
            {%- if img_mod == 2 -%}
                <a data-fancybox="gallery" data-options='{"buttons":["close"]}' 
                href="{{ site.baseurl }}/assets/images/gallery/image-{{ forloop.index }}.jpg">
                <img src="{{ site.baseurl }}/assets/images/gallery/image-{{ forloop.index }}.jpg" 
                style="width:100%" alt="Gallery Image {{ forloop.index }}"></a>
            {%- endif -%}
        {%- if new_col == 0 -%}</div>{%- endif -%}
    {%- endfor -%}
    <!-- Column 3 -->
    {%- for img in image_gallery -%}
        {%- assign col_mod = col_index | times: 4 -%}
        {%- assign new_col = forloop.index | modulo: col_mod -%}
        {%- if new_col == 3 -%}<div class="gallery-column">{%- endif -%}
            {%- assign img_mod = forloop.index | modulo: 4 -%}
            {%- if img_mod == 3 -%}
                <a data-fancybox="gallery" data-options='{"buttons":["close"]}' 
                href="{{ site.baseurl }}/assets/images/gallery/image-{{ forloop.index }}.jpg">
                <img src="{{ site.baseurl }}/assets/images/gallery/image-{{ forloop.index }}.jpg" 
                style="width:100%" alt="Gallery Image {{ forloop.index }}"></a>
            {%- endif -%}
        {%- if new_col == 0 -%}</div>{%- endif -%}
    {%- endfor -%}
    <!-- Column 4 -->
    {%- for img in image_gallery -%}
        {%- assign col_mod = col_index | times: 4 -%}
        {%- assign new_col = forloop.index | modulo: col_mod -%}
        {%- if new_col == 4 -%}<div class="gallery-column">{%- endif -%}
            {%- assign img_mod = forloop.index | modulo: 4 -%}
            {%- if img_mod == 0 -%}
                <a data-fancybox="gallery" data-options='{"buttons":["close"]}' 
                href="{{ site.baseurl }}/assets/images/gallery/image-{{ forloop.index }}.jpg">
                <img src="{{ site.baseurl }}/assets/images/gallery/image-{{ forloop.index }}.jpg" 
                style="width:100%" alt="Gallery Image {{ forloop.index }}"></a>
            {%- endif -%}
        {%- if new_col == 0 -%}</div>{%- endif -%}
    {%- endfor -%}
</div>