// Styling for photo grid gallery

// Also apply similar layout to Design page
#photography, #design {

    .page-content {
      margin-right: 15vh;
      margin-left: 15vh;
      padding-top: 25px;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .gallery-column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }
  
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .gallery-column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }

    @include media-query($on-laptop) {
      max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
      max-width:         calc(#{$content-width} - (#{$spacing-unit}));
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
    }
    
    // Align VSCO link right
    .page-content p.link-text-right {
        text-align: right;
    }
}

.gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0;
}

/* Create four equal columns that sits next to each other */
.gallery-column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/*
[data-fancybox] {
  max-width: 100%;
  //max-height: 80vh;
  height: auto;
}
*/

// Old Gallery Styling -->

/*
.container {
  width: 100%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
  //justify-items: auto;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 { grid-area: 1 / 1 / 5 / 4; }
.gallery__item--2 { grid-area: 1 / 4 / 3 / 9; }
.gallery__item--3 { grid-area: 3 / 4 / 6 / 6; }
.gallery__item--4 { grid-area: 3 / 6 / 5 / 9; }
.gallery__item--5 { grid-area: 5 / 1 / 7 / 4; }
.gallery__item--9 { grid-area: 5 / 6 / 9 / 9; }
.gallery__item--7 { grid-area: 7 / 1 / 9 / 5; }

/*
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
/*
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
*/