// Need to separate into partials

body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  padding-bottom: 80px;
}
.page-link, .site-title {
  @include relative-font-size(1);
  color: $grey-color-light;
  line-height: $base-line-height * $base-font-size * 2.25;
  font-family: $head-font-family;
  font-weight: 500;
  
  &:hover {
    color: $grey-color-medium-dark;
    text-decoration: none;
  }
}

.post-title {
  font-family: $title-font-family;
  font-size: 30px;
  line-height: 0.5;
  padding-top: 20px;
}

// If wanting bottom border on some pages
/**
 * Site header
 .site-header {
  border-bottom: 1px solid $grey-color-light;
}
*/

/**
 * Links
 */
 a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    //color: darken($brand-color, 35%);
  }

  &:hover {
    color: $highlight-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 25px;
    right: $spacing-unit / 2;
    background-color: white;
    //border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-medium-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Wrapper
 */
 .wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  //padding-right: $spacing-unit;
  //padding-left: $spacing-unit;
  //extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.home-content {
  position: absolute;
  top: 15vh;
}

.nav-links {
  padding-top: 30px;
  list-style-type: none;
}

// Homepage
// Note: Add Mixins with gradient parameters?

a.about {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  font-family: $head-font-family;
  border-style: none;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--gradient-color-stops));
  --gradient-from-color: #f8b932;
  --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(131, 56, 236, 0));
  --gradient-to-color: #fd3939;
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
  transition-duration: 300ms
}

a.design {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  font-family: $head-font-family;
  border-style: none;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--gradient-color-stops));
  --gradient-from-color: #fd3939;
  --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(131, 56, 236, 0));
  --gradient-to-color: #8447f7;
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
  transition-duration: 300ms
}

a.photography {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  font-family: $head-font-family;
  border-style: none;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--gradient-color-stops));
  --gradient-from-color: #8447f7;
  --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(131, 56, 236, 0));
  --gradient-to-color: #0041a3;
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
  transition-duration: 300ms
}

a.writing {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  font-family: $head-font-family;
  border-style: none;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--gradient-color-stops));
  --gradient-from-color: #0041a3;
  --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(131, 56, 236, 0));
  --gradient-to-color: #50f1c9;
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
  transition-duration: 300ms
}

.nav-links > li > a:hover {
  color: transparent;
  text-decoration: none;
}

.home-intro {
  font-family: $base-font-family;
  font-size: 50px;
  text-align: center;
  //font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  
  span {
    font-size: 78px;
    background-image: linear-gradient(transparent 64px, #70fcd9 50%, #276AFC 100%);
  }
}

.home-description {
  font-family: $base-font-family;
  line-height: 0;

  a:visited {
    color: black
  }
}

// Collapsable Summary in About

summary {
  cursor: pointer;
  outline: none;
} 

// If wanting left borders
/**
 * Blockquotes
 */
 blockquote {
  border-left: 4px solid $text-color;
  border-left-style: double;
  padding-left: $spacing-unit / 1.5;

  > :last-child {
    margin-bottom: 0;
  }
}

// Stylize social icons for home
// Currently on test.html
ul.social-media-list li {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color-light};
  padding-right: 15px;
  vertical-align: text-top;
}

.svg-icon {
  //width: 16px;
  //height: 16px;
  display: inline-block;
  fill: #{$grey-color-light};
  padding-right: 5px;
  vertical-align: text-top;

  &:hover {
    fill: $highlight-color;
  }
}

// Add social icons position
.social-icons {
  position: absolute;
  top: 26vh;
}