@charset "utf-8";

// Define Variables

// Base Colors
$background-color: #FFFFFF;
$text-color:#000000;
$grey-color-lightest: #aab2b4;
$grey-color-light: #9c9c9c;
$grey-color-medium-dark: #555555;
$grey-color-medium: #333333;
$grey-color-darkest: #222222;

// New Brand Colors
$brand-color: #276AFC;
$highlight-color: #6cf3db;
$underline-color: #048eff;
$highlight-override-color: #6cf3da75;

// Fonts & Spacing
$spacing-unit: 30px !default;
$base-line-height: 1.75 !default;
$base-font-size: 19px;
$base-font-weight: 375; // Changed to variable from 400
$bold-font-weight: 500;

// Define New Fonts
$serif: 'Roboto Slab', serif;
$sans-serif: 'Roboto', sans-serif;
$monospace: 'Roboto Mono', monospace;

$base-font-family: $serif;
$head-font-family: $sans-serif;
$title-font-family: $sans-serif;

// Width of the content area
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Gradient Mixin for Titles
@mixin gradient-fill($from-color, $to-color, $transition-duration) {
  border-style: none;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--gradient-color-stops));
  --gradient-from-color: #{$from-color};
  --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(131, 56, 236, 0));
  --gradient-to-color: #{$to-color};
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
  transition-duration: $transition-duration;
}


// Currently Not Using
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "general";
@import "gallery";
@import "post";
//@import "nav/hamburgers";