---
layout: default
---
{%- include header.html -%}

  <div class="section">
    <div class="column-left">
      <header class="page-header"></header>
        <h1 class="page-title">{{ page.title | escape }}</h1>
      </header>
      {% if page.description %}
        <p class="page-description">{{ page.desc }}</p>
      {% endif %}

      <div class="page-social-links">
        {% include social.html %}
      </div>

    </div>
    <div class="page-content">
    {{ content }}
    </div>
  </div>