<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <!-- Get page title for dynamic nav highlighting -->
  <body id="{{ page.title | downcase }}">

    <main class="page-body" aria-label="Content">
        <div class="wrapper">

            {%- include header.html -%}
              
            
        </div>
            <div class="page-content">
                {{ content }}
            </div>
    </main>

    <!-- Sets target="_blank" for external links -->
    {% include new-window-fix.html %}

  </body>

</html>